body {
  margin: 10px;
  font-family:  "Roboto", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #272833;
  font-size: 15pt;
  font-weight: 100;
  line-height: 1.75em;
  display: flex;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

button {
  background-color: #000;
  color: white;
  border-radius: 1rem;
  border: .05px solid white;
  margin: .5rem 0 .5rem 0;
}

button:hover {
  background-color: #353839;
  color: white;
  border-radius: 1rem;
  border: .05px solid white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, h3, h2 {
  text-decoration: none;
  color: white;
}

@media only screen 
and (max-device-width: 500px) {
  iframe {
    width: 100%;
  }
}

#root{
  width: 100%;
}
