/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:  #272833;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #272833;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar:hover {
    background:  #272833;
  }