.roomLink {
    text-decoration: none;
    position: relative;
    left: 30%;
    color: #31e89f;
}

.roomLink:hover {
    background-color: black;
}

a:hover {
    text-decoration: none;
}

.deleteBtn {
    background-color: red;
}